# To view the line-endings in files you can use the command 'git ls-files --eol'
# It can be specified: 'w/crlf', 'w/lf', 'w/mixed'
# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.pms   text
*.txt   text

# Images should be treated as binary (is a macro for -text -diff)
*.bmp   binary
*.gif   binary
*.pm3d  binary
*.png   binary
